In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

alphabet = [
    'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o',
    'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z'
]

name = []
nickname = []
height = []
weight = []
reach = []
stance = []
win = []
lose = []
draw = []

for letter in alphabet:
    url = f'http://www.ufcstats.com/statistics/fighters?char={letter}&page=all'
    response = requests.get(url)

    if response.status_code == 200:
        soup = BeautifulSoup(response.text, 'html.parser')

        table_rows = soup.find_all('tr')

        for row in table_rows:
            columns = row.find_all('td')

            if len(columns) >= 10:
                name.append(" ".join(
                    [columns[0].text.strip(), columns[1].text.strip()]))
                nickname.append(columns[2].text.strip())
                height.append(columns[3].text.strip())
                weight.append(columns[4].text.strip())
                reach.append(columns[5].text.strip())
                stance.append(columns[6].text.strip())
                win.append(columns[7].text.strip())
                lose.append(columns[8].text.strip())
                draw.append(columns[9].text.strip())

data_frame_dict = {
    'Fighter Name': name,
    'Nickname': nickname,
    'Height': height,
    'Weight': weight,
    'Reach': reach,
    'Stance': stance,
    'Win': win,
    'Lose': lose,
    'Draw': draw
}

df = pd.DataFrame(data_frame_dict)

df.to_csv('parsed_data.csv')

In [2]:
df.head()

,Fighter Name,Nickname,Height,Weight,Reach,Stance,Win,Lose,Draw
0,Tom Aaron,,--,155 lbs.,--,,5,3,0
1,Danny Abbadi,The Assassin,"5' 11""",155 lbs.,--,Orthodox,4,6,0
2,Nariman Abbasov,Bayraktar,"5' 8""",155 lbs.,"66.0""",Orthodox,28,4,0
3,David Abbott,Tank,"6' 0""",265 lbs.,--,Switch,10,15,0
4,Hamdy Abdelwahab,The Hammer,"6' 2""",264 lbs.,"72.0""",Southpaw,5,0,0

In [3]:
df.isna().sum()
del df['Nickname']